@model EatDrinkApplication.Models.RecipeInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HomeCookLayout.cshtml";
}

<div>
    <h4>@Html.DisplayFor(model => model.title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Instructions
        </dt>
        <br />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.instructions)
        </dd>
        <br />
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <br />
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.extendedIngredients.Length; i++)
            {

                @Html.DisplayFor(model => model.extendedIngredients[i].originalString)
                <br />

            }
        </dd>
        <br />
        <br />
        <dt class="col-sm-2">
            Likes
        </dt>
        <br />
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aggregateLikes)
        </dd>
        <br />
        <dt class="col-sm-2">
            Image
        </dt>
        <br />
        <dd class="col-sm-10">
            <image src="@Model.image" alt="Image"></image>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Cart" asp-route-id="@Model.id">Add Items To Cart</a> |
    <a asp-action="SaveFood" asp-route-id="@Model.id">Save Recipe</a> |
    <a asp-action="Index">Back to List</a>
</div>
