@model EatDrinkApplication.ViewModel.CocktailViewModel

@{
    ViewData["Title"] = "SaveDrink";
    Layout = "~/Views/Shared/_CocktailLayout.cshtml";
}
    <h1>Save Drink</h1>
    <div>
        <h4>@Html.DisplayFor(model => model.CocktailDescription.drinks[0].strDrink)</h4>
        <hr />
<form asp-action="SaveDrink">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=" row">
        <div class="col-md-6">
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].idDrink" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strDrink" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient1" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient2" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient3" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient4" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient5" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient6" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient7" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient8" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient9" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient10" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient11" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient12" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient13" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient14" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strIngredient15" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure1" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure2" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure3" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure4" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure5" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure6" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure7" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure8" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure9" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure10" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure11" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure12" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure13" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure14" />
            <input type="hidden" asp-for="@Model.CocktailDescription.drinks[0].strMeasure15" />
        </div>
        <span asp-validation-for="@Model.CocktailDescription" class="text-danger"></span>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
        </div>

